*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eef5ff;
    color: #34495E;
    padding: 1rem;
    min-height: 100vh;
}

header, footer {
    background-color: #2C3E50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.title{
    font-family: sans-serif;
    text-align: center;
}

.form-section{
    background-color: #FAEBD7;
    margin: 1.5rem auto;
    padding: 1.2rem;
    border-radius: 0.8rem;
}

.form-title{
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.task-form{
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#task-title, #task-content{
    width: 100%;
    min-width: 40%;
    max-width: 60%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
    text-align: center;
}

.val-test{
    color: rgb(218, 34, 34);
    text-decoration: underline;
}

.form-btn{
    border: 0rem;
    border-radius: 1rem;
    height: 2rem;
    padding: 0 0.8rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #F1C40F;
    transition: transform 0.25s ease;
    transition: background-color 0.25s ease;
}
.form-btn:hover{
    background-color: #D4AC0D;
    transform: scale(0.95);
}

.all-filter{
    border: 0rem;
    border-radius: 1rem;
    height: 2rem;
    padding: 0 0.8rem;
    cursor: pointer;
    transition: transform 0.25s ease;
}
.all-filter:hover{
    transform: scale(0.95);
}
.all-filter-color{
    background-color: rgb(163, 163, 163);
    color: white;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}
.all-filter-color:hover{
    background-color: rgb(110, 110, 110);
}
.todo-filter-color{
    background-color: #a9c7df;
    transition: background-color 0.5s ease;
}
.todo-filter-color:hover{
    background-color: #8ba5bb;
}
.done-filter-color{
    background-color: #229954;
    color: white;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}
.done-filter-color:hover{
    background-color: #17753e;;
}

.flex-container{
    display: flex;
    flex-direction: row;
    background-color: #F0F0F0;
    border-radius: 0.8rem;
    margin-top: 0.8rem;
    padding: 1.5rem 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgray;
}

.task-container{
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1.4rem 0;
    max-width: 25vh;
    border-radius: 0.8rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.task-container-todo{
    background-color: #a9c7df;
    border: 0.1rem solid #225f99;
    transition: background-color 0.5s ease;
}

.task-container-done{
    background-color: #A9DFBF;
    border: 0.1rem solid #229954;
    transition: background-color 0.5s ease;
}

.task-item-title{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.task-item-content{
    font-family: Helvetica;
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
}

.task-item-status{
    text-align: center;
}

.checkbox{
    margin-right: 0.4rem;
    cursor: pointer;
}

.task-remove-btn{
    border: 0rem;
    border-radius: 1rem;
    height: 2rem;
    margin-left: 1.8rem;
    padding: 0 0.8rem;
    color: white;
    cursor: pointer;
    background-color: #E74C3C;
    transition: transform 0.25s ease;
    transition: background-color 0.25s ease;
}

.remove-all-btn{
    border: 0rem;
    border-radius: 1rem;
    height: 2rem;
    padding: 0 0.8rem;
    color: white;
    cursor: pointer;
    background-color: #E74C3C;
    transition: transform 0.25s ease;
    transition: background-color 0.25s ease;
}

.filter-btns{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem;
}

.task-remove-btn:hover, .remove-all-btn:hover{
    background-color: #C0392B;
    transform: scale(0.95);
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}